.course-card.beginner {
  background: rgba(148, 220, 166, 0.74);
}

.course-card.intermediate {
  background: rgba(215, 220, 148, 0.74);
}

.course-card.advanced {
  background: rgba(220, 148, 148, 0.74);
}

.course-image{
  width: 100%;
}
