<div class="course-card" [ngClass]="cardClasses()" [ngStyle]="cardStyles()">

  <div class="course-title">
    {{course.description}}
  </div>

  <div class="course-image">
    @if (course.iconUrl) {
      <img [src]="course.iconUrl" alt="" class="course-image">
    } @else {
      <ng-container *ngTemplateOutlet="noImgTpl; context: {description: course.description}">

      </ng-container>
    }
  </div>

  <ng-container [ngSwitch]="course.category">
    <p class="category" *ngSwitchCase="'BEGINNER'">Beginner</p>
    <p class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</p>
    <p class="category" *ngSwitchCase="'ADVANCED'">Advanced</p>
    <p class="category" *ngSwitchDefault>Advanced</p>
  </ng-container>
  <button (click)="onViewClick()">View Course</button>
</div>
