<div class="course-card" [ngClass]="cardClasses()" [ngStyle]="cardStyles()">

  <div class="course-title">
    {{course.description}}
  </div>
<!--  @if (course.id === 2) {-->
<!--    <h2>No image available</h2>-->
<!--  } @else {-->
<!--    <img width="300" alt="Angular Logo"-->
<!--         [src]="course.iconUrl">-->
<!--  }-->
<!--  <h2 *ngIf="course.id === 2">No image available</h2>-->
  <div class="course-description">
    {{course.longDescription}}
  </div>
<!--  @switch (course.category){-->
<!--    @case ("BEGINNER"){-->
<!--      <p>BEGINNER</p>-->
<!--    }-->
<!--    @case ("INTERMEDIATE"){-->
<!--      <p>INTERMEDIATE</p>-->
<!--    }-->
<!--    @default {-->
<!--      <p>ADVANCED</p>-->
<!--    }-->
<!--  }-->

  <ng-containerg [ngSwitch]="course.category">
    <p class="category" *ngSwitchCase="'BEGINNER'">Beginner</p>
    <p class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</p>
    <p class="category" *ngSwitchCase="'ADVANCED'">Advanced</p>
    <p class="category" *ngSwitchDefault>Advanced</p>
  </ng-containerg>
  <button (click)="onViewClick()">View Course</button>
</div>
