<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>
<button (click)="onEmptyCourses()">Empty Courses</button>
<button (click)="onRepopulateCourses()">Repopulate Courses</button>
<div class="courses">
  @for (course of COURSES; track trackFunction($index, course)) {
      <course-card (courseSelected)="onCourseSelected($event)" [course]="course"></course-card>
  } @empty {
    <h1>Courses is empty!!!</h1>
  }
</div>


